-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('pages', 'approve', 'getting_started')
- $localJavascript = array('pages', 'approve', 'getting_started', 'cookies')

!= $this->topLinks($this->page, $this->loggedInUser, $this->spNum)
!= $this->subpagesButtons($this->page, $this->spNum, 100)

%h1
  = $this->page->pageHeader
  - if(count($this->page->references) > 0)
    %a#togglePageReferences{ 'href' => '#' } show references
    #pageReferences{ 'style' => 'display: none;' }
      != $this->referenceString($this->page)

- if(!$this->isBlank($this->page->headerText))
  != $this->markdown($this->h($this->page->headerText))
  
!= $this->form(array('action' => 'approve', 'id' => $this->page->pageID), false, 'post', array('class' => 'questions'))
!= $this->formHidden('cancelPath', $this->url(array('action' => 'view')))

- while(($section = $this->page->nextSection()))
  != $this->renderPartial('section', $section)

#formControls
  != $this->linkTo('#save', $this->imageTag('icons/dddddd/disk.png'), array('class' => 'controlButton'))
  != $this->linkTo('#cancel', $this->imageTag('icons/dddddd/cancel.png'), array('class' => 'controlButton'))
    
!= $this->form(null, true)

- if(!$this->isBlank($this->page->footerText))
  != $this->markdown($this->h($this->page->footerText))

#disableOverlay{ 'style' => 'display: none;' }
  .content
    Saving
    != $this->imageTag('progress-large-black.gif')
    
!= $this->renderPartial('getting_started', null)
