-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3
            
%tr.paged
  %td
    .hidden.id= $this->crypto->cryptoID
    = $this->crypto->name
  %td.fixed= $this->crypto->cryptoKey
  %td= $this->crypto->secret
  %td.controlBox
    != $this->imageTag('ajax-loader.gif', array('class' => 'progress', 'style' => 'display: none;'))
    .controls{ 'style' => 'display: none;' }
      != $this->linkTo((array('action' => 'edit', 'id' => $this->crypto->cryptoID)), $this->imageTag('icons/ddffdd/group_edit.png', array('class' => 'inline')))
      != $this->linkTo((array('action' => 'delete', 'id' => $this->crypto->cryptoID)), $this->imageTag('icons/ddffdd/group_delete.png', array('class' => 'inline confirm')))
