-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('search', 'crypto')
- $localJavascript = array('search', 'pagination', 'crypto')

%form{ 'method' => 'get', 'id' => 'cryptoSearch', 'class' => 'searchForm' }  
  != $this->formText('q', $this->q, array('size' => 25, 'original' => $this->q))
  != $this->linkTo('#', $this->imageTag('x.gif'), array('class' => 'closeButton', 'style' => 'display: none;'))
  != $this->formHidden('baseUrl', $this->url(array('action' => 'index')))
%h2.padded
  encryption keys
  - if (CryptoModel::count())
    - if ($this->pager->last())
      %em= "({$this->pager->first()} - {$this->pager->last()} of " . CryptoModel::count() . ")"
    - else
      %em= "(0 of " . CryptoModel::count() . ")"
  - else 
    %em= "(none exist)"

%table#cryptoTable.pageContainer
  %tr.header
    %th Profile Name
    %th Secret Key
  != $this->renderPartial('crypto', $this->pager->current(), true)

!= $this->pagination($this->pager, 'index', 'page', array('q' => $this->q))

!= $this->renderPartial('form', null, false)
%p
  * You must send your secret key to the intended recipient(s).  Recipients can then add the secret key 
  to their CSI SIG portal or use a Zip tool that supports AES256 encryption such as <a href="http://www.7-zip.org" target="_new">7-Zip</a>.
  Secure delivery may be an existing trusted electronic transmission (e.g., sftp, scp, ssl) or
  physical delivery on an external storage device (e.g., flash drive, cd, dvd, etc).
%p
  ** Specifying more words and uncommon phrases for the secret key increases security.
%p
  *** It is highly recommended that you send your secret key securely.  Email, for example, is normally
  not secure.  You may, however, send subsequent data encrypted with the secret key through insecure
  transmissions since only those that have the secret key can decrypt it. 
