-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('questionnairedata')
- $localJavascript = array('questionnairedata')

%h3
  = $this->dataQuestionnaire->questionnaireName
  = $this->dataQuestionnaire->questionnaireVersion
  Questionnaire Definition XML Document
This XML document defines the tabs, sections, questions, and rules for this questionnaire.  This
document is used to import a questionnaire (set of questions) into another CSI QFrame installation.
%br/
%br/
!= $this->form(array('action' => 'QuestionnaireDefinitionXML'), false, 'post', array('class' => 'QuestionnaireDefinitionXML'))
Encryption:
!= $this->cryptoSelect($this->cryptoID)
!= $this->linkTo('#QuestionnaireDefinitionXMLDownload', $this->formButton('QuestionnaireDefinitionXMLDownload', 'Download'), array('class' => 'dataButton'))
!= $this->form(null, true)
