-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('domains')
- $localJavascript = array('domains', 'checkboxes')

%h1
  Questionnaires for domain
  %em= $this->domain->domainDescription
!= $this->form(array(), false, 'post')
!= $this->formHidden('indexUrl', $this->url(array('action' => 'index', 'id' => null)))
#questionnaires
  %h2 domain questionnaires
  %ul
    - foreach($this->questionnaires as $questionnaire)
      %li
        = $questionnaire->questionnaireName . ' ' . $questionnaire->questionnaireVersion . (isset($questionnaire->revision) ? " ({$questionnaire->revision})" : '')
        != $this->formCheckbox("questionnaire[{$questionnaire->questionnaireID}]", 1, array('checked' => $this->domain->hasQuestionnaire($questionnaire)))
#options
  != $this->formSubmit('submitButton', 'save')
  != $this->formButton('cancelButton', 'cancel')
!= $this->form(null, true)
