-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('search', 'paged', 'roles')
- $localJavascript = array('search', 'pagination', 'roles')

%form{ 'method' => 'get', 'id' => 'roleSearch', 'class' => 'searchForm' }  
  != $this->formText('q', $this->q, array('size' => 25, 'original' => $this->q))
  != $this->linkTo('#', $this->imageTag('x.gif'), array('class' => 'closeButton', 'style' => 'display: none;'))
  != $this->formHidden('baseUrl', $this->url(array('action' => 'index')))
%h2.padded
  roles
  - if (RoleModel::count())
    - if ($this->pager->last())
      %em= "({$this->pager->first()} - {$this->pager->last()} of " . RoleModel::count() . ")"
    - else
      %em= "(0 of " . RoleModel::count() . ")"
  - else
    %em= "(none exist)"

.pageContainer
  != $this->renderPartial('role', $this->pager->current(), true)
  != $this->pagination($this->pager, 'index', 'page', array('q' => $this->q))

!= $this->renderPartial('form', null, false)
