-#
  This file is part of the CSI RegQ.
  
  The CSI RegQ is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI RegQ is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('questionnairedata')
- $localJavascript = array('questionnairedata')

%h3
  = $this->dataQuestionnaire->questionnaireName
  = $this->dataQuestionnaire->questionnaireVersion
  Completed Responses XML Schema
This XML document is an XML Schema validates that all questions have responses and is otherwise
equivalent to the Responses XML Schema above.
%br/
%br/
!= $this->form(array('action' => 'CompletedResponsesXMLSchema'), false, 'post', array('class' => 'CompletedResponsesXMLSchema'))
  Encryption:
  != $this->cryptoSelect($this->cryptoID)
  != $this->linkTo('#CompletedResponsesXMLSchemaDownload', $this->formButton('CompletedResponsesXMLSchemaDownload', 'Download'), array('class' => 'dataButton'))
!= $this->form(null, true)