-#
  This file is part of the CSI RegQ.
  
  The CSI RegQ is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI RegQ is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('instrumentdata')
- $localJavascript = array('instrumentdata')

%h3
  = $this->dataInstrument->instrumentName
  = $this->dataInstrument->instrumentVersion
  Responses XML Schema
This XML document is an XML Schema for validating the Responses XML and Full XML documents.  This
may be useful for organizations that use applications in addition to RegQ for XML validation prior
to import.
%br/
%br/
!= $this->form(array('action' => 'ResponsesXMLSchema'), false, 'post', array('class' => 'ResponsesXMLSchema'))
  Encryption:
  != $this->cryptoSelect($this->cryptoID)
  != $this->linkTo('#ResponsesXMLSchemaDownload', $this->formButton('ResponsesXMLSchemaDownload', 'Download'), array('class' => 'dataButton'))
!= $this->form(null, true)