-#
  This file is part of the CSI QFrame.
  
  The CSI QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3

- $localStylesheets = array('dashboard')
- $localJavascript = array('dashcompare')
- $newButtonAttributes = ($this->selected === null) ? array('disabled' => 'disabled') : null;

%h1 Select a Questionnaire and Model
%h3
  Select a questionnaire and instance to perform a comparison and create or modify a model.
%br/
!= $this->form(array(), false, 'get')

!= $this->formHidden('comparePath', $this->url(array('action' => 'do')))
!= $this->formHidden('editPath', $this->url(array('action' => 'edit')))
!= $this->formHidden('deletePath', $this->url(array('action' => 'delete')))

.option
  != $this->formLabel('questionnaire', 'Questionnaire:')
  != $this->questionnaireSelect($this->questionnaires, $this->selected)
.option
  != $this->formLabel('model', 'Model:')
  != $this->modelSelect($this->models)
  != $this->formHidden('model[questionnaireID]', $this->selected)
  != $this->formText('model[name]', null, array('size' => 30, 'style' => 'display:none;'))
  != $this->formSubmit('create', 'create model', array('style' => 'display:none;'))
  != $this->formButton('cancel', 'cancel', array('style' => 'display:none;'))
  != $this->formButton('new', 'new model', $newButtonAttributes)
  != $this->formButton('compare', 'perform comparison', array('disabled' => 'disabled'))
  != $this->formButton('edit', 'edit model', array('disabled' => 'disabled'))
  != $this->formButton('delete', 'delete model', array('disabled' => 'disabled'))
- if(isset($this->instances))
  .option.instances{ 'style' => 'display: none;' }
    != $this->formLabel('instance', 'Instance:')
    != $this->instanceSelect($this->instances)
    != $this->formButton('doCompare', 'compare', array('disabled' => 'disabled'))
    != $this->formButton('compareCancel', 'cancel')
    %br/
    != $this->formLabel('addlInfo', 'Always show additional info')
    != $this->formCheckbox('addlInfo')
    %br/
    != $this->formLabel('addlInfo', 'Include passing questions')
    != $this->formCheckbox('passing')

!= $this->form(null, true)
