-#
  This file is part of QFrame.
  
  QFrame is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  QFrame is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007, 2008, 2009, 2010, 2011 Collaborative Software Foundation (CSF)
  @license    http://www.gnu.org/licenses/agpl-3.0.txt   GNU Affero General Public License v3

- $label = ((isset($this->label)) ? $this->label : 'create') . ' user'
- $userID = ($this->form === null) ? null : $this->form->dbUserID
- $userFullName = ($this->form === null) ? null : $this->form->dbUserFullName
- $userName = ($this->form === null) ? null : $this->form->dbUserName


#userForm
  != $this->form(array('action' => (isset($this->action)) ? $this->action : 'create'), false, 'post')
  != $this->formHidden('dbUserID', $userID)
  != $this->formHidden('indexUrl', $this->url(array('action' => 'index', 'id' => null)))
  %h2= $label
  %ul
    %li
      != $this->formLabel('userDomain', 'Domain')
      != $this->domainSelect($this->userDomain, 'userDomain', $this->_user, array('administer'))
    %li
      != $this->formLabel('user[dbUserFullName]', 'Full Name')
      != $this->formText('user[dbUserFullName]', $this->h($userFullName), array('size' => 30))
    %li
      != $this->formLabel('user[dbUserName]', 'Username')
      != $this->formText('user[dbUserName]', $this->h($userName), array('size' => 12))
    %li
      != $this->formLabel('dbUserPW', 'Password')
      != $this->formPassword('dbUserPW', null, array('size' => 20))
    %li
      != $this->formLabel('dbUserPWConf', 'Password (confirm)')
      != $this->formPassword('dbUserPWConf', null, array('size' => 20))
    %li
      != $this->formLabel('user[dbUserActive]', 'Active', array('class' => 'inline'))
      != $this->formCheckbox('user[dbUserActive]', 1, array('checked' => $this->form === null || $this->form->dbUserActive === 'Y'), array('Y', 'N'))
    %li
      != $this->formLabel('user[dbUserPWChange]', 'Force Password Change On Next Logon', array('class' => 'inline'))
      != $this->formCheckbox('user[dbUserPWChange]', 1, array('checked' => $this->form->dbUserPWChange === 'Y'), array('Y', 'N'))
    %li
      != $this->formSubmit('submitButton', $label)
      - if(isset($this->action) && $this->action === 'edit')
        != $this->formButton('cancelButton', 'cancel')
  != $this->form(null, true)
    
