-#
  This file is part of the CSI RegQ.
  
  The CSI RegQ is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.
  
  The CSI RegQ is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  
  @copyright  Copyright (c) 2007 Collaborative Software Initiative (CSI)
  @license    http://www.gnu.org/licenses/   GNU General Public License v3
  
- $disabled = $this->section->disableCount > 0

%div{ 'id' => 'section-' . $this->section->sectionID, 'class' => ($disabled) ? 'disabled fieldset' : 'fieldset' }
  != $this->formHidden('disableCount', $this->section->disableCount)
  .legend
    = $this->h($this->section->sectionHeader)
    %span{ 'class' => 'disableText' }
      = ($disabled) ? ' (disabled)' : ''
    %em
      != $this->referenceString($this->section)
  - if(Zend_Controller_Front::getInstance()->getRequest()->getActionName() === 'approve')
    .sectionApproval
      != $this->linkTo('#approveSection', 'Approve All', array('class' => 'bulkApproval'))
      |
      != $this->linkTo('#unapproveSection', 'Un-approve All', array('class' => 'bulkApproval'))
  %ol{ 'style' => ($disabled) ? 'display: none;' : '' }
    - while($question = $this->section->nextQuestion())
      != $this->renderPartial('question', $question)
